@model DoAnCs.Models.Question

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
@section naviheader{
    <h1>Quản Lý Câu Hỏi</h1>
    <ul class="breadcrumb">
        <li>
            <a href="/Admin/Home">Home</a>
        </li>
        <li><i class='bx bx-chevron-right'></i></li>
        <li>
            <a class="active" href="/admin/Question/index">Câu Hỏi</a>
        </li>
        <li><i class='bx bx-chevron-right'></i></li>
        <li>
            <a class="active" href="#">Thêm Mới Câu Hỏi</a>
        </li>
    </ul>


}


<div class="order">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông Tin thêm mới</h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("Create", "Question", FormMethod.Post, new { }))

                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <!-- your steps content here -->
                    <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">

                        <div class="form-group">
                            <label class="control-label col-md-2">Tên Câu Hỏi</label>
                            <div class="col-md-10">
                                @* @Html.EditorFor(model => model.Contentt, new { htmlAttributes = new { @class = "form-control" } })*@
                                <textarea class="form-control" name="Contentt" id="inputContentt"></textarea>
                                @Html.ValidationMessageFor(model => model.Contentt, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-2 control-label">Đáp Án A</label>
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.optionA, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.optionA, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-check">
                                        <input class="form-check-input custom-checkbox" type="radio" value="A" name="group1" id="optionA">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <button id="btnthemcauhoi" type="button" class="btn btn-primary">+</button>
                                </div>

                            </div>
                        </div>
                        <div class="form-group" id="groupB" style="display:none">
                            <div class="row">
                                <label class="col-sm-2 control-label">Đáp Án B</label>
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.optionB, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.optionB, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-check">
                                        <input class="form-check-input custom-checkbox" type="radio" name="group1" value="B" id="optionB">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="groupC" style="display:none">
                            <div class="row">
                                <label class="col-sm-2 control-label">Đáp Án C</label>
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.optionC, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.optionC, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-check">
                                        <input class="form-check-input custom-checkbox" type="radio" name="group1" value="C" id="optionC">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" id="groupD" style="display:none">
                            <div class="row">
                                <label class="col-sm-2 control-label">Đáp Án D</label>
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.optionD, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.optionD, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-check">
                                        <input class="form-check-input custom-checkbox" type="radio" name="group1" value="D" id="optionD">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="groupE" style="display:none">
                            <div class="row">
                                <label class="col-sm-2 control-label">Đáp Án E</label>
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.optionE, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.optionE, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-check">
                                        <input class="form-check-input custom-checkbox" type="radio" name="group1" value="E" id="optionE">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="groupF" style="display:none">
                            <div class="row">
                                <label class="col-sm-2 control-label">Đáp Án F</label>
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.optionF, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.optionF, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-check">
                                        <input class="form-check-input custom-checkbox" type="radio" name="group1" value="F" id="optionF">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="groupG" style="display:none">
                            <div class="row">
                                <label class="col-sm-2 control-label">Đáp Án G</label>
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.optionG, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.optionG, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-check">
                                        <input class="form-check-input custom-checkbox" type="radio" name="group1" value="G" id="optionG">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Tên Môn Học</label>

                            <div class="col-md-10">
                                @Html.DropDownList("IdExam", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IdExam, "", new { @class = "text-danger" })
                            </div>
                        </div>





                        @Html.HiddenFor(model => model.DapAn, new { htmlAttributes = new { id = "DapAn", @class = "form-control" } })



                        <div class="form-group">
                            <a href="/admin/DeThi/Index" class="btn btn-danger">Quay Lại</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    }
                </div>
            </div>


        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>

</div>

@section scripts{
    <script>


        CKEDITOR.replace("inputContentt");




        function BrowseServer() {
            var finder = new CKFinder();
            finder.selectActionFunction = URlHinhAnh;
            finder.popup();
        }
        function URlHinhAnh(url) {
            $("input[name=HinhAnh]").val(url);
        }
    </script>
    <script src="~/Scripts/Admin.js"></script>

}