@model DoAnCs.Models.Question

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
@section naviheader{
    <h1>Quản Lý Câu Hỏi</h1>
    <ul class="breadcrumb">
        <li>
            <a href="/Admin/Home">Home</a>
        </li>
        <li><i class='bx bx-chevron-right'></i></li>
        <li>
            <a class="active" href="/admin/Question/index">Câu Hỏi</a>
        </li>
        <li><i class='bx bx-chevron-right'></i></li>
        <li>
            <a class="active" href="#">Thêm Mới Câu Hỏi</a>
        </li>
    </ul>


}


<div class="order">
    
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông Tin thêm mới</h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("Create", "Question", FormMethod.Post, new { }))

                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <!-- your steps content here -->
                        <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">

                            <div class="form-group">
                                <label class="control-label col-md-2">Tên Câu Hỏi</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Contentt, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Contentt, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Đáp Án A</label>

                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.optionA, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.optionA, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Đáp Án B</label>

                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.optionB, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.optionB, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Đáp Án C</label>

                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.optionC, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.optionC, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <lbel class="control-label col-md-4">Đán Án D</lbel>

                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.optionD, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.optionD, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Tên Môn Học</label>

                                <div class="col-md-10">
                                    @Html.DropDownList("IdSubject", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdSubject, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md-10">
                                    @Html.HiddenFor(model => model.Difficulty, new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Đáp Án Đúng</label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(x => x.IdDapan, ViewBag.Ans as SelectList, "-Chọn Đáp Án Đúng-", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.IdDapan, null, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <a href="/admin/Question" class="btn btn-danger">Quay Lại</a>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>


        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>

</div>
