
@{
    ViewBag.Title = "DisplayQuestion";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

@model List<DoAnCs.Models.Question>
<div class="order">
    @if (Model != null)
    {


        <h2>Danh sách câu hỏi</h2>
        if (!string.IsNullOrEmpty(@ViewBag.ThongBao))
        {
            <div class="mx-auto" style="width: 256px;color:red">
                @ViewBag.ThongBao
            </div>
        }
        //Thông Báo ở đây

        foreach (var question in Model)
        {
            <div class="col-sm-7">
                <div id="cardformthi" class="card p-3 mb-5">
                    <div class="card-body">
                        <h4 id="noidungthi" class="card-title">
                            <span class="text-success">Câu Hỏi:</span> @question.Contentt
                        </h4>
                        @if (!string.IsNullOrEmpty(question.answer))
                        {
                            var subjectItems = Newtonsoft.Json.JsonConvert.DeserializeObject<List<DoAnCs.Models.Viewmodel.SubjectItem>>(question.answer);
                            <strong>Đáp Án:</strong>
                            foreach (var items in subjectItems)
                            {
                                var trueisValue = items.Trueis ? 1 : 0;
                                if (trueisValue == 1)
                                {
                                    <div class="input-group mt-2">
                                        <div class="form-control hienthidapan" style="color:dodgerblue">
                                            @Html.Raw(items.Content)
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="input-group mt-2">
                                        <div class="form-control hienthidapan" style="color:black">
                                            @Html.Raw(items.Content)
                                        </div>
                                    </div>
                                }

                            }
                        }
                    </div>
                </div>
            </div>
        }
    }


    @if (!string.IsNullOrEmpty(ViewBag.ThongBao))
    {


        <button class="btn btn-primary" id="LuuCauHoi" disabled>Xác Nhận</button>
    }
    else
    {
        <button class="btn btn-primary" id="LuuCauHoi">Xác Nhận</button>
    }

</div>

@section scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $("#LuuCauHoi").on("click", function () {
            $.ajax({
                url: "/admin/question/SaveDisplayQuestion",
                type: "POST",
                success: function (result) {
                    toastr.success('Thêm Thành Công');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    </script>
}