@model DoAnCs.Models.Question

@{
    ViewBag.Title = "edit";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
@section naviheader{
    <h1>Quản Lý Câu Hỏi</h1>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li><i class='bx bx-chevron-right'></i></li>
        <li>
            <a class="active" href="#">Câu Hỏi</a>
        </li>
        <li><i class='bx bx-chevron-right'></i></li>
        <li>
            <a class="active" href="#">Chỉnh Sửa Câu Hỏi</a>
        </li>
    </ul>


}
<<div class="order">
    <div class="head">

        <i class="bx bx-search"></i>
        <i class="bx bx-filter"></i>
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông Tin thêm mới</h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("Edit", "Question", FormMethod.Post, new { }))

                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor( m =>m.IdQuestion)

                        <!-- your steps content here -->
                    <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">

                        <div class="form-group">
                            <label class="control-label col-md-2">Tên Câu Hỏi</label>
                            <div class="col-md-10">
                                <textarea class="form-control" name="Contentt" id="inputContentt">@Html.Raw(Model.Contentt)</textarea>
                                @Html.ValidationMessageFor(model => model.Contentt, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Sử đổi ảnh</label>

                            <div class="col-md-10">

                                <input onclick="BrowseServer()" class="form-control" name="HinhAnh" value="@Model.HinhAnh" />
                                @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Đán Án A</label>

                                    @Html.EditorFor(model => model.optionA, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.optionA, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">

                                    <label class="control-label col-md-4">Đán Án B</label>

                                    @Html.EditorFor(model => model.optionB, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.optionB, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>




                        <div class="form-group">
                            <label class="control-label col-md-4">Đán Án C</label>

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.optionC, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.optionC, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <lbel class="control-label col-md-4">Đán Án D</lbel>

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.optionD, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.optionD, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Tên Môn Học</label>

                            <div class="col-md-10">
                                @Html.DropDownList("IdExam", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IdExam, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-10">
                                @Html.HiddenFor(model => model.Difficulty, new { @class = "form-control" })

                            </div>
                        </div>
                        @* <div class="form-group">
            <label for="exampleInputEmail1">Đáp Án Đúng</label>
            @Html.DropDownListFor(x => x.IdDapan, ViewBag.Ans as SelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.IdDapan, null, new { @class = "text-danger" })
        </div>*@
                        <div class="form-group">
                            <label for="exampleInputEmail1">Đáp Án Đúng</label>
                            <div class="col-md-10">

                                @Html.EditorFor(model => model.DapAn, new { htmlAttributes = new { @class = "form-control", @value = Model.DapAn } })
                                @Html.ValidationMessageFor(model => model.DapAn, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="form-group">
                            <a href="/admin/Question" class="btn btn-danger">Quay Lại</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    }
                </div>
            </div>


        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>

</div>
@section scripts{
    <script>
        CKEDITOR.replace("inputContentt");

        function BrowseServer() {
            var finder = new CKFinder();
            finder.selectActionFunction = URlHinhAnh;
            finder.popup();
        }
        function URlHinhAnh(url) {
            $("input[name=HinhAnh]").val(url);
        }
    </script>

}