@model PagedList.PagedList<DoAnCs.Models.Question>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@using PagedList.Mvc;



@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}


<div class="order">
   
    

 
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["Loi"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Loi"]
        </div>
    }

    <div class="head">
        @using (Html.BeginForm("Index", "Question", FormMethod.Get))
        {
            @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" class="btn btn-default" />
        }
        @using (Html.BeginForm("UploadExcel", "Question", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken() <!-- Thêm dòng này -->
            <div class="form-group">
                <label for="file">Chọn tệp Excel:</label>
                <input type="file" name="excelFile" id="file" class="form-control" />
            </div>
            <input type="submit" value="Tải lên" class="btn btn-primary" />
        }
        <i class="bx bx-filter"></i>
        <a href="/admin/Question/savejson" class="btn btn-primary"> <i class="fa-solid fa-plus"></i></a>
    </div>
    @if (Model.Any() && Model != null)
    {
        var i = 1;

        <table>
            <thead>
                <tr class="text-center">
                    <th><input class="checkbox1" type="checkbox"> </th>
                    <th>STT</th>
                    <th>Tên Câu Hỏi</th>

                    <th class="float-right"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox" name="group1">
                            </div>
                        </td>
                        <td>
                            <p>@i</p>
                        </td>
                        <td> @Html.Raw(HttpUtility.HtmlDecode(item.Contentt))</td>
                        <td>
                        </td>


                        <td class="float-right">

                            <a href="/admin/Question/edit/@item.IdQuestion"><i class="fa fa-edit"></i></a>
                            <a href="/admin/Question/detail/@item.IdQuestion "><i class="fa fa-info"></i></a>



                            <a href="#" onclick="if (confirm('are you sure') == true) location.href = '/admin/Question/delete/@item.IdQuestion'"><i class="fa fa-trash" style="color: #e60000;"></i></a>



                        </td>
                    </tr>

                    i++;
                }


            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("Index",
               new { page, currentFilter = ViewBag.CurrentFilter }))

    }
    else
    {
        <p>Không Có Gì</p>
    }
</div>

@section scripts{
  
}

