@model PagedList.PagedList<DoAnCs.Models.Question>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@using PagedList.Mvc;



@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

@section naviheader{
    <h1>Quản Lý Môn Học</h1>
    <ul class="breadcrumb">
        <li>
            <a class="active" href="/admin/home">Home</a>
        </li>
        <li><i class='bx bx-chevron-right'></i></li>
        <li>
            <a class="active" href="/Admin/Question/Index">Câu Hỏi</a>
        </li>
    </ul>


}
<div class="order">
    <div class="head">

        @using (Html.BeginForm("Index", "Question", FormMethod.Get))
        {

            @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" class="btn btn-default" />
        }
        <i class="bx bx-filter"></i>
        <a href="/admin/Question/Create" class="btn btn-primary"> <i class="fa-solid fa-plus"></i></a>


    </div>
    @if (Model.Any() && Model != null)
    {
        var i = 1;

        <table>
            <thead>
                <tr class="text-center">
                    <th>STT</th>
                    @*<th>Tên Câu Hỏi</th>*@
                    <th>Tên Môn Học</th>
                    <th>Đáp Án</th>


                    <th class="float-right"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            <p>@i</p>
                        </td>
                        @*<td>@item.Contentt</td>*@
                        <td>@item.Exam.NameExam</td>
                        @*<td>@item.Answer.DapAn</td>*@

                    <td class="float-right">

                        @*<a href="/admin/Question/edit/@item.IdQuestion"><i class="fa fa-edit"></i></a>
        <a href="/admin/Question/detail/@item.IdQuestion "><i class="fa fa-info"></i></a>

        <a href="#" onclick="if (confirm('are you sure') == true) location.href = '/admin/Question/delete/@item.IdQuestion'"><i class="fa fa-trash" style="color: #e60000;"></i></a>
                        *@

                        @Html.ActionLink("Edit", "edit", new { @id = item.IdQuestion }) 
                        <a href="@Url.Action("ThemNhieu","DeThi", new {  })" data-id="1" class="btnhe btn btn-danger">aáđâsddd</a>

                    </td>
                    </tr>

                    i++;
                }


            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("Index",
               new { page, currentFilter = ViewBag.CurrentFilter }))

    }
    else
    {
        <p>Không Có Gì</p>
    }
</div>