@model List<DoAnCs.Models.Viewmodel.SubjectItem>

@{
    ViewBag.Title = "Luu Cau Hoi";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}


<div class="order">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">thêm mới câu Hỏi</h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-12">

                    @using (Html.BeginForm("saveJson", "Question", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                    <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                        <div class="form-group">
                            <label class="control-label col-md-2 text-success">Tên Câu Hỏi</label>
                            <div class="col-md-10">
                                <textarea class="form-control" name="contenntt" id="inputContentt" required></textarea>
                            </div>
                        </div>
                        <div class="form-group" style="margin-left:13px">
                        <h5 class="text-success">Độ Khó</h5>
                            <div class="form-check ml-5">
                                <input class="form-check-input" type="radio" name="difficult" id="flexRadioDefault1" value="Nhận Biết">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Nhận Biết
                                </label>
                            </div>
                            <div class="form-check ml-5">
                                <input class="form-check-input" type="radio" name="difficult" id="flexRadioDefault2" value="Thông dụng">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Thông dụng
                                </label>
                            </div>
                        </div>
                       

                        <div class="form-group">
                            <label class="control-label col-md-2  text-success"> Chủ Đề</label>
                            <div class="col-md-6">
                                <select name="IdTopic" class="form-control">

                                    @foreach (var topic in (SelectList)ViewBag.IdTopic)
                                    {
                                        <option value="@topic.Value">@topic.Text</option>
                                    }
                                </select>
                            </div>

                        </div>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @for (int i = 0; i < Model.Count; i++)
                        {


                            <div style="margin-left:13px" class="form-group">
                                <div class="row">

                                    <label class="col-sm-2 control-label text-success">Đáp Án</label>

                                    <div class="col-sm-6">
                                        <textarea required class="form-control" name="[@i].Content" id="inputContentt2"></textarea>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-check">
                                            <div class="checkbox">
                                                @Html.EditorFor(model => model[i].Trueis)
                                                @Html.ValidationMessageFor(model => model[i].Trueis, "", new { @class = "text-danger" })
                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>


                        }



                        <div class="form-group">
                            <button type="button" class="btn btn-primary" id="addSubjec1t">Thêm</button>
                            <a href="/admin/DeThi/Index" class="btn btn-danger">Quay Lại</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    }
                </div>
            </div>


        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>

    </div>

</div>

@section scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



    <script>
        var editorConfig = {
            removeButtons: 'Link,Unlink,Anchor,Form,Checkbox,Textarea,Button,ImageButton,HiddenField,TextField,SelectAll,Replace,Find,Redo,Undo,Paste,Copy,Cut,Templates,Print,Preview,Save,NewPage,Smiley,Flash,Maximize,ShowBlocks,Scayt,Indent,Outdent,Blockquote,CreateDiv,BidiLtr,BidiRtl,Language,PageBreak,Iframe,SpecialChar,Smiley,HorizontalRule,Radio,Select,PasteText,PasteFromWord,Source,Bold,Italic,Underline,Strike,Superscript,Subscript,CopyFormatting,RemoveFormat,NumberedList,BulletedList,JustifyLeft,JustifyCenter,JustifyRight,JustifyBlock,Table,Styles,Format,Font,FontSize,TextColor,BGColor,About'
        };
        function initCKEditor() {
            document.querySelectorAll('.inpContent').forEach((element) => {
                CKEDITOR.replace(element);
            });
        }
     

         CKEDITOR.replace('inputContentt', {
            removeButtons: 'Link,Unlink,Anchor,Form,Checkbox,Textarea,Button,ImageButton,HiddenField,TextField,SelectAll,Replace,Find,Redo,Undo,Paste,Copy,Cut,Templates,Print,Preview,Save,NewPage,Smiley,Flash,Maximize,ShowBlocks,Scayt,Indent,Outdent,Blockquote,CreateDiv,BidiLtr,BidiRtl,Language,PageBreak,Iframe,SpecialChar,Smiley,HorizontalRule,Radio,Select,PasteText,PasteFromWord'
        });
        CKEDITOR.replace('inputContentt2', {
            removeButtons: 'Link,Unlink,Anchor,Form,Checkbox,Textarea,Button,ImageButton,HiddenField,TextField,SelectAll,Replace,Find,Redo,Undo,Paste,Copy,Cut,Templates,Print,Preview,Save,NewPage,Smiley,Flash,Maximize,ShowBlocks,Scayt,Indent,Outdent,Blockquote,CreateDiv,BidiLtr,BidiRtl,Language,PageBreak,Iframe,SpecialChar,Smiley,HorizontalRule,Radio,Select,PasteText,PasteFromWord,Source,Bold,Italic,Underline,Strike,Superscript,Subscript,CopyFormatting,RemoveFormat,NumberedList,BulletedList,JustifyLeft,JustifyCenter,JustifyRight,JustifyBlock,Table,Styles,Format,Font,FontSize,TextColor,BGColor,About'

        });




        function BrowseServer() {
            var finder = new CKFinder();
            finder.selectActionFunction = URlHinhAnh;
            finder.popup();
        }
        function URlHinhAnh(url) {
            $("input[name=HinhAnh]").val(url);
        }

        $(document).ready(function () {

            var i = @Model.Count;
            var subjectCount = 0;
            $("#addSubjec1t").click(function () {
                i++;
                // Lấy tham chiếu đến phần tử input checkbox bằng cách sử dụng id của nó
                subjectCount++;

                var newFormGroup = `
                <div  style="margin-left:13px" class="form-group">
                    <div class="row">

                        <label class="col-sm-2 control-label text-success">Đáp Án</label>
                        <div class="col-sm-6">
                              @*<input type="text" name="[${subjectCount}].Content" class="form-control" id="Content" value="" />*@
                               <textarea name="[${subjectCount}].Content" class="form-control inpContent"></textarea>


                        </div>
                        <div class="col-sm-2">
                            <div class="form-check">

                        <input class="check-box" data-val="true" data-val-required="The Trueis field is required." name="[${subjectCount}].Trueis" type="checkbox" value="true">
                         <input name="[${subjectCount}].Trueis" type="hidden" value="false">
                            </div>
                        </div>
                    </div>
                </div>`;


                $(".form-group:last").before(newFormGroup);
                //CKEDITOR.replace(`[${subjectCount}].Content`);
                CKEDITOR.replace(`[${subjectCount}].Content`, editorConfig);
               //initCKEditor();
            });
            initCKEditor();

        });


    </script>
}

