@model DoAnCs.Models.Exam



@{
    ViewBag.Title = "edit";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

@section naviheader{
    <h1>Quản Lý Câu Hỏi</h1>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li><i class='bx bx-chevron-right'></i></li>
        <li>
            <a class="active" href="#">Đề Thi</a>
        </li>
        <li><i class='bx bx-chevron-right'></i></li>
        <li>
            <a class="active" href="#">Chi Tiết Đề Thi</a>
        </li>
    </ul>


}<div class="order">
    <div class="head">

        
        @Html.Partial("~/Areas/Admin/Views/Dethi/CauHoiKhongthuocBaiThi.cshtml")


    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông Tin Đề Thi</h3>

        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    @Html.HiddenFor(x => x.IdExam, new { @id = "idexamne" })
                    <!-- your steps content here -->
                    <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-danger" for="exampleInputEmail1">Tên Đề Thi</label>
                                    @Html.TextBoxFor(x => x.NameExam, new { @class = "form-control", @readonly = "readonly" })


                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-danger">Tên Môn Học</label>
                                    @Html.TextBoxFor(x => x.Subject.NameSubject, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="text-danger" for="Time">Thời Gian</label>
                                    @Html.TextBoxFor(x => x.Time, new { @class = "form-control", @readonly = "readonly" })

                                </div>
                            </div>
                         

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="text-danger" for="exampleInputEmail1">Ngày Tạo</label>
                                    @Html.TextBoxFor(x => x.Exam_date, new { @class = "form-control", @readonly = "readonly" })

                                </div>
                            </div>
                        </div>
                        <hr />
                        <h2 class="text-center text-success">Danh Sách Câu Hỏi</h2>
                        <button style="margin-bottom:20px;" id="buttonThem" class="btn btn-success">Thêm Câu Hỏi</button>
                        <div id="tableContainer"></div>
                     
                        <table id="employeeTable" class="display questionTable">
                            <thead>
                                <tr>
                                    <th class="first-column"><input id="selectAllCheckbox" class="checkbox1" type="checkbox"></th>

                                    <th>Name</th>
                                    <th>Topic</th>
                                    <th></th>
                                </tr>
                            </thead>
                            
                        </table>


                    </div>

                </div>
            </div>


        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>

</div>
<link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet" />

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.semanticui.min.js"></script>

    <script>
        $(document).ready(function () {
            var examid = $('#idexamne').val();
          
            function initDataTable(data) {
                dataTable = $('#employeeTable').DataTable({
                    "data": data,
                    "columns": [
                        {
                            "orderable": false,
                            "data": null,
                            "render": function (data, type, row) {
                                return '<div class="form-check"><input class="cbkItem123" type="checkbox" value="' + row.IdQuestion + '" ></div>';
                            }
                        },
                        { "data": "Contentt" },
                        { "data": "TopicName" },
                        {
                            "data": null,
                            "render": function (data, type, row) {
                                return '<button class="btn btn-danger delete-button" data-id="' + row.IdQuestion + '"><i class="fa fa-trash" style="color: white;"></i></button>';
                            }
                        }
                    ],
                    "createdRow": function (row, data, dataIndex) {
                        $(row).attr('id', 'row_' + data.IdQuestion);
                    }
                });
            }
            $.ajax({
                url: '/Admin/DeThi/CauHoiInBaiThi/' + examid,
                type: 'GET',
                success: function (data) {
                    initDataTable(data);
                }
            });
            $('#employeeTable').on('click', '.delete-button', function () {
                var id = $(this).data("id");
                if (confirm('Bạn Muốn Xóa Bản Ghi này')) {
                    $.ajax({
                        url: '/Admin/Dethi/XoaCauHoi1',
                        type: "POST",
                        data: { examId: examid, questionId: id },
                        success: function (result) {
                            if (result.success) {
                               
                                $.ajax({
                                    url: '/Admin/DeThi/CauHoiInBaiThi/' + examid,
                                    type: 'GET',
                                    success: function (data) {
                                        dataTable.clear().rows.add(data).draw();
                                        toastr.success('Xóa Thành Công');

                                    }
                                });
                            } else {
                                toastr.error('Xóa Không Thành Công');
                            }
                        },
                        error: function (error) {
                            toastr.error('Xóa Không Thành Công');
                            console.log(error);
                        }
                    });

                }

            });
            $("#employeeTable").on("draw.dt", function () {
                // Xử lý sự kiện khi DataTables được vẽ lại sau tìm kiếm hoặc phân trang
                $(".cbkItem").change(function () {
                    var checkedCheckboxes = $(".cbkItem:checked");
                    var count = checkedCheckboxes.length;
                    /*  updateSelectedCount();*/
                });
            });
            $('#selectAllCheckbox').change(function () {
                // Lấy giá trị tích hay không tích của checkbox "selectAllCheckbox"
                var isChecked = $(this).prop('checked');

                // Tìm tất cả các checkbox với class "cbkItem" và thiết lập giá trị tích dựa vào giá trị của "selectAllCheckbox"
                $('.cbkItem').prop('checked', isChecked);

            });
          
            //  Phần Thêmw Câu Hỏi
            $('#buttonThem').click(function () {
                $('#exampleModalCenter').modal('show');
                table = $('#khongThuoc').DataTable();

                if (table !== 'undefined' && table !== null) {
                    table.destroy(); // Hủy DataTable cũ trước khi tạo DataTable mới
                }
                $.ajax({
                    url: '/Admin/DeThi/CauHoiChuaCoTrongBaiThi/' + examid,
                    type: 'GET',
                    success: function (data) {
                        table = $('#khongThuoc').DataTable({
                            "data": data,
                            "columns": [


                                { "data": "Contentt" },
                                { "data": "TopicName" },
                                {
                                    "orderable": false,
                                    "data": null,
                                    "render": function (data, type, row) {
                                        // Điền checkbox từ dữ liệu IdQuestion
                                        return '<button style="float:right; " class="btn btn-primary addquestion" data-id="' + row.IdQuestion + '">+</button>';

                                    }
                                },

                            ],
                            "createdRow": function (row, data, dataIndex) {
                                $(row).attr('id', 'cot_' + data.IdQuestion);
                            }
                        });
                    }
                });
            });
          
          
            $('.close').click(function () {
                $('#exampleModalCenter').modal('hide');

            });

            // Ajax Thêm Câu hỏi cho đề

            $('#khongThuoc').on('click', '.addquestion', function () {
                var idquestion = $(this).data("id");
                $.ajax({
                    url: '/Admin/DeThi/setcauhoi',
                    type: 'POST',
                    data: { id: examid, questionIds: idquestion },
                    success: function (result) {
                        if (result.success) {
                            var rowId = "#cot_" + idquestion;
                            $(rowId).remove();
                            toastr.success('Thêm câu hỏi thành công', 'Admin');
                            $.ajax({
                                url: '/Admin/DeThi/CauHoiInBaiThi/' + examid,
                                type: 'GET',
                                success: function (data) {
                                    dataTable.clear().rows.add(data).draw();
                                }
                            });
                        } else {
                            toastr.error('Lỗi Thêm Câu hỏi');
                        }

                    },
                    error: function (error) {
                        toastr.error('Lỗi ');

                        console.log(error);
                    }
                });

            });


            //Funtion
          
        });
     
    </script>
}

