@model DoAnCs.Models.Exam



@{
    ViewBag.Title = "edit";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

@section naviheader{
    <h1>Quản Lý Câu Hỏi</h1>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li><i class='bx bx-chevron-right'></i></li>
        <li>
            <a class="active" href="#">Câu Hỏi</a>
        </li>
        <li><i class='bx bx-chevron-right'></i></li>
        <li>
            <a class="active" href="#">Chỉnh Sửa Đề Thi</a>
        </li>
    </ul>


}<div class="order">
    <div class="head">

        <i class="bx bx-search"></i>
        <i class="bx bx-filter"></i>
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông Tin thêm mới</h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("Edit", "DeThi", FormMethod.Post, new { }))

                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(x => x.IdExam)

                        <!-- your steps content here -->
                        <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tên Đề Thi</label>
                                @Html.TextBoxFor(x => x.NameExam, new { @class = "form-control", @placeholder = "Tên Môn Học" })
                            
                            </div>
                            <div class="form-group">
                                <label for="Time">Thời Gian</label>
                                @Html.TextBoxFor(x => x.Time, new { @class = "form-control" })
                         
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Số Câu Hỏi</label>
                                @Html.TextBoxFor(x => x.NumberQ, new { @class = "form-control" })
                               
                            </div>


                            <div class="form-group">
                                <a href="/admin/DeThi" class="btn btn-danger">Quay Lại</a>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>


        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>

</div>

