
@model PagedList.PagedList<DoAnCs.Models.Exam_Results>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@using PagedList.Mvc;
@{
    ViewBag.Title = "LichSuThi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">User</a></li>
                        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@Session["Fullname"]</h5>
                        <p class="text-muted mb-1">Full Stack Developer</p>
                        <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-primary">Follow</button>
                            <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">FullName</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Session["Fullname"]</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Session["Email"]</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Session["Phone"]</p>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Session["Addrress"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4 mb-md-0">
                            @if (Model.Any() && Model != null)
                            {



                                var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;

                                <table>
                                    <thead style="background-color: cornflowerblue; height:50px;">
                                        <tr class="text-center">
                                            <th>STT</th>
                                            <th>Tên Đề thi</th>
                                            <th>Ngày Làm</th>
                                            <th>Số Điểm</th>


                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {

                                            <tr class="text-center">
                                                <td>
                                                    <p>@i</p>
                                                </td>
                                                <td>@item.Exam.NameExam</td>
                                                <td>@item.ExamDay</td>
                                                <td>@item.Score</td>
                                                <td> <a href="@Url.Action("ketquathi", "DeThi", new { id = item.IdResult })">Chi Tiết</a></td>
                                            </tr>

                                            i = i + 1;
                                        }



                                    </tbody>
                                </table>

                            }
                            else
                            {
                                <p class="text-center">Bạn Chưa Làm Đề Thi Nào</p>
                            }

                            @Html.PagedListPager(Model, page => Url.Action("LichSuThi",
             new { page }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

