@model IEnumerable<DoAnCs.Models.Question>

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    @*<title>Colo Shop</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Colo Shop Template">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="~/Content/asset/styles/bootstrap4/bootstrap.min.css">
        <link href="~/Content/asset/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="~/Content/asset/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="~/Content/asset/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
        <link rel="stylesheet" type="text/css" href="~/Content/asset/plugins/OwlCarousel2-2.2.1/animate.css">
        <link rel="stylesheet" type="text/css" href="~/Content/asset/styles/main_styles.css">
        <link rel="stylesheet" type="text/css" href="styles/responsive.css">*@


    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/asset/styles/css.css" rel="stylesheet" />

</head>


<body>
    @using (Html.BeginForm("DeThi", "DeThi", FormMethod.Post))
    {



        if (Model != null)
        {
            <div class="dem1">
                <div class="demgio">
                    <label>Thời Gian Còn :</label>
                    <div data-id="@ViewBag.sophut" id="countdow"></div>

                </div>
            </div>

            <div class="container mt-4 mb-4 dethii" @*style="background-color:red;"*@>
                <div class="formthi">
                    <h5 class="text-center my-5">@*Thi trắc nghiệm*@</h5>
                    <form class="form-section page-section">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div id="thoigianlam"></div>
                                    <label for="name">Tên Bài Thi: <strong> @ViewBag.tenbaithi</strong></label>
                                    <br />

                                    <label for="name">Số Câu Hỏi : <strong>@ViewBag.socauhoi</strong></label>
                                    <label for="name">Số Phút : <strong> @ViewBag.sophut</strong></label>

                                </div>
                            </div>

                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label>Số Điểm: <strong><label id="sodiem"> </label></strong> </label>
                                    <br />
                                    <label>Số Câu Đúng: <strong><label id="socaudung"></label></strong></label>
                                    <br />
                                    <label>Số Câu Sai: <strong> <label id="socausai"></label></strong> </label>
                                    <br />
                                    <label>Số Phút Thi: <strong> <label id="thoigianlambai"></label></strong> </label>

                                </div>
                            </div>


                        </div>

                        <hr>
                        @*Câu Hỏi*@
                        @{ var questionNumber = 1;
                            var countcauhoi = 0;}
                        <div id="question">
                            @foreach (var item in Model)
                            {

                                <div class="form-group">
                                    <h5 class="font-weight-bold" for="question@questionNumber" data-id-dap-an="@item.DapAn" id="@item.IdQuestion">Câu hỏi @questionNumber: @item.Contentt</h5>
                                    <div class="form-check">
                                        <input class="rdoptionA" type="radio" name="question-@item.IdQuestion" value="A">
                                        <label class="A" for="question@questionNumber">
                                            A: @item.optionA
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="rdoptionB" type="radio" name="question-@item.IdQuestion" value="B">
                                        <label class="B" for="question@questionNumber">
                                            B: @item.optionB
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="rdoptionC" type="radio" name="question-@item.IdQuestion" value="C">
                                        <label class="C" for="question@questionNumber">
                                            C: @item.optionC
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="rdoptionD" type="radio" name="question-@item.IdQuestion" value="D">
                                        <label class="D" for="question@questionNumber">
                                            D: @item.optionD
                                        </label>
                                    </div>
                                    <div class="form-check">

                                        <label class="dapan" style="display:none" for="question@questionNumber">
                                            Đáp Án Đúng @item.DapAn
                                        </label>
                                    </div>

                                </div>
                                <hr>
                                countcauhoi++;
                                questionNumber++;

                            }



                        </div>




                        <div class="form-group">


                            <button type="button" id="btnquaylai" name="name" class="btn btn-danger">Quay lại</button>
                            <button type="submit" id="btnnop" class="btn btn-success">Nộp Bài</button>
                            <button type="button" id="btnnop" class="btn btn-success">Nộp Bài</button>
                        </div>
                        <div class="form-group">
                        </div>
                    </form>
                </div>







            </div>
        }
    }



    <script src="~/Content/asset/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/asset/styles/bootstrap4/popper.js"></script>
    <script src="~/Content/asset/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/Content/asset/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/Content/asset/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Content/asset/plugins/easing/easing.js"></script>
    <script src="~/Content/asset/js/custom.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: true)*@
    <script src="~/Scripts/JavaScript1.js"></script>

</body>
</html>
