
@model List<DoAnCs.Models.Question>
@using System.Text.RegularExpressions;
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>

    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/Content/asset/styles/formthi.css" rel="stylesheet" />
    <link href="~/Content/asset/styles/css.css" rel="stylesheet" />

</head>


<body>

    @*@using (Html.BeginForm("DeThi", "DeThi", FormMethod.Post, new { id = "examForm" }))
        {*@



    @if (Model != null)
    {
        <div class="dem1">
            <div class="demgio">

                <div data-id="@ViewBag.sophut" id="countdow"></div>
                <p id="socauhoi" hidden data-viewbag-value="@ViewBag.socauhoi"></p>
            </div>
            <button type="button" id="btnnop" style="height: 45px; margin-right: 0px; border-radius: 15% / 50%;" class="btn btn-success">Nộp Bài</button>
        </div>
        <div style="margin-top:80px" class="container">
            <div class="row align-items-center">
                <div class="col-sm">
                    <h4 class="text-center">Bài Thi : <span class="text-primary">@ViewBag.tenbaithi</span> </h4>
                    <h4 class="text-center">Số Câu : <span class="text-primary">@ViewBag.socauhoi</span> </h4>
                    <h4 class="text-center">Thời Gian : <span class="text-primary">@ViewBag.sophut</span> </h4>
                    <h4 id="re" name="socaudung"></h4>
                </div>
            </div>
        </div>
        <div id="vl">

            <div class="container formthi" style="padding-top:50px">
                @{ var questionNumber = 1;
                    var countcauhoi = 0;}
                @foreach (var item in Model)
                {
                    <div class="row " id="question__@questionNumber">
                        <div class="col-sm-2">
                            <div class="card shadow p-3 mb-5 " id="cardcauhoiformthi">
                                <div class="card-body">
                                    <h5 class="card-title">Câu @questionNumber</h5>
                                    <p class="card-text">Độ Khó </p>
                                </div>
                            </div>
                            <div class="card" id="correct_@item.IdQuestion">
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div id="cardformthi" class="card  p-3 mb-5">
                                <div class="card-body">
                                    <h4 id="noidungthi" class="card-title">
                                        @{
                                            if (!string.IsNullOrEmpty(item.Contentt))
                                            {
                                                var images = Regex.Matches(item.Contentt, @"<img.*?>");
                                                foreach (Match image in images)
                                                {
                                                    var newImage = Regex.Replace(image.Value, "(width|height)=\".*?\"", "");
                                                    newImage = newImage.Replace("<img", "<img style=\"width: 300px; height: 200px;\"");
                                                    item.Contentt = item.Contentt.Replace(image.Value, newImage);
                                                }
                                            }
                                        }
                                        @Html.Raw(HttpUtility.HtmlDecode(item.Contentt.Trim()))
                                        @if (!string.IsNullOrEmpty(item.HinhAnh))
                                        {
                                            <img src="@item.HinhAnh" style="width: 300px; height: 200px" alt="Ảnh câu hỏi">
                                        }
                                    </h4>
                                    <p class="card-text text-primary">Chọn Đáp Án Đúng .</p>
                                    @foreach (var question in item.AnswerList)
                                    {
                                        var trueisValue = question.Trueis ? 1 : 0;

                                        <div class="input-group mt-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <input data-id="@trueisValue" type="radio" name="question_@item.IdQuestion" data-idex="question_@item.IdQuestion+@question.id" id="question_@item.IdQuestion" aria-label="Radio button for following text input">


                                                </div>
                                            </div>
                                            <div class="form-control hienthidapan" name="question_@item.IdQuestion" data-id="@trueisValue" id="q_@item.IdQuestion">
                                                @Html.Raw(question.Content)
                                            </div>
                                            @*<p class="form-control" data-id="@trueisValue" name="question_@item.IdQuestion" id="q_@item.IdQuestion" aria-label="Text input with radio button">@Html.Raw(question.Content)</p>*@
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<br />*@
                    countcauhoi++;
                    questionNumber++;
                }
                @*<br>*@
                @{
                    var modelLength = Model.Count;
                }
                <div id="questionCount" data-countcauhoi="@modelLength"></div>
            </div>
        </div>



    }
 
    @*}*@
<div class="col-md-3" id="cotdanhsach">
    <div class="card shadow-lg" style="width: 16rem;" id="cotdanhsachcon">
        <div class="card-body">
            @{ var socauhoi1 = 1;
            }
            @foreach (var number in Model)
            {

                <button class="butoon1 question-button" id="button_@number.IdQuestion" data-question-number="@socauhoi1">Câu @socauhoi1</button>

                socauhoi1++;

               
            }
            <div class="card-footer">
                <div class="d-flex justify-content-around">
                    <button class="btn btn-primary btn-sm" id="backButton">Back</button>
                    <button class="btn btn-primary btn-sm" id="nextButton">Next</button>
                </div>
            </div>
        </div>
        </div>
   
    
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/Scripts/JavaScript1.js"></script>

    <script src="~/Content/asset/js/custom.js"></script>


    @section scripts{
        <script>
            $(document).ready(function () {

                $('.form-control.hienthidapan').click(function () {
                    // Tìm radio button trước phần tử đang được click và thiết lập checked cho nó
                    $(this).prev().find('input[type="radio"]').prop('checked', true);
                });

                // xử lý btn câu hỏi 
               
                
                var currentQuestion = 1;
                var totalQuestions = document.getElementById("questionCount").getAttribute("data-countcauhoi");

                // Ẩn tất cả các câu hỏi trừ câu hỏi đầu tiên
                hideAllQuestions();
                showQuestion(currentQuestion);

                // Xử lý sự kiện khi nhấn nút "Next"
                document.getElementById("nextButton").addEventListener("click", function () {
                    if (currentQuestion < totalQuestions) {
                        hideQuestion(currentQuestion);
                        currentQuestion++;
                        showQuestion(currentQuestion);
                    }
                });

                // Xử lý sự kiện khi nhấn nút "Back"
                document.getElementById("backButton").addEventListener("click", function () {
                    if (currentQuestion > 1) {
                        hideQuestion(currentQuestion);
                        currentQuestion--;
                        showQuestion(currentQuestion);
                    }
                });

                // Ẩn tất cả các câu hỏi
                function hideAllQuestions() {
                    for (var i = 1; i <= totalQuestions; i++) {
                        hideQuestion(i);
                    }
                }

                // Ẩn câu hỏi có số thứ tự 'questionNumber'
                function hideQuestion(questionNumber) {
                    var question = document.getElementById("question__" + questionNumber);
                    question.style.display = "none";
                }

                // Hiển thị câu hỏi có số thứ tự 'questionNumber'
                function showQuestion(questionNumber) {
                    var question = document.getElementById("question__" + questionNumber);
                    question.style.display = "flex";
                }

             

                // Gán sự kiện click cho mỗi nút button
                $('.butoon1').on('click', function () {
                    var questionNumber = $(this).data('question-number');
                    hideQuestion(currentQuestion); // Ẩn câu hỏi hiện tại
                    showQuestion(questionNumber); // Hiển thị câu hỏi mới
                    currentQuestion = questionNumber; // Cập nhật số thứ tự câu hỏi hiện tại
                });
            });
        </script>


    }

</body>
</html>


