@model PagedList.PagedList<DoAnCs.Models.Exam>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container1">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb" style=" background-color:#ffffff">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
    </nav>
</div>
<section class="dethii">
    <div class="container" style="display: flex; justify-content: end;">
        @using (Html.BeginForm("Index", "DeThi", FormMethod.Get))
        {

            @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" class="btn btn-success" />
        }
    </div>
</section>

<section class="dethii">
    @if (Model != null && Model.Any())
    {

        <div class="container">
            @foreach (var item in Model)
            {
                <div class="card-item">
                    <div class="card">
                        <div class="card-header" style="background-color:lemonchiffon">
                            <strong>@item.NameExam</strong>
                        </div>
                        <div class="card-body">
                            <p style="color:red;" data-id="@item.Time" class="card-text">Số Lượng Câu Hỏi:@item.NumberQ - Số Phút: @item.Time </p>
<p  class="card-text"></p>

                            <a href="/DeThi/DeThi/@item.IdExam" class="btnvaothi btn btn-primary">Vào Thi</a>




                        </div>
                    </div>
                </div>

            }
            @Html.PagedListPager(Model, page => Url.Action("Index",
               new { page, currentFilter = ViewBag.CurrentFilter }))
        </div>


    }
    else
    {
        <h3>Không Có đề Thi Nào</h3>
    }
  
</section>

   
    @section scripts{
        <script src="~/Scripts/Dethi.js"></script>

        @*<script>

                $(document).ready(function () {
                    $('.btnvaothi').click(function (e) {
                        if (confirm("Xác Nhận Vào Thi")) {
                            return true;

                        }
                        else {
                            e.preventDefault(); // Ngăn chặn hành động mặc định của thẻ a khi click
                        }
                    });
                });
            </script>*@
    }
