var i = 1;
<div class="container mt-4 dethii" @*style="background-color:red;"*@>
    <div class="formthi">
        <h5 class="text-center my-5">Thi trắc nghiệm</h5>
        <form class="form-section page-section">
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        @*<label for="name">Tên Bài Thi:</label>
                            <input type="text" name="name" class="form-control" required>*@
                    </div>
                    <div class="form-group">
                        @*<label for="email">Tên Người THi:</label>
                            <input type="email" name="email" class="form-control" required>*@
                    </div>
                </div>
            </div>

            <hr>
            @*Câu Hỏi*@
            @{ var questionNumber = 1; }
            @foreach (var item in Model)
            {

                <div class="form-group">
                    <label for="question@questionNumber">Câu hỏi @questionNumber: @item.Contentt</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="question1_@questionNumber" value="option1" required>
                        <label class="form-check-label" for="question@questionNumber">
                            A: @item.optionA
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="question1_@questionNumber" value="option2" required>
                        <label class="form-check-label" for="question@questionNumber">
                            B: @item.optionB
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="question1_@questionNumber" value="option3" required>
                        <label class="form-check-label" for="question@questionNumber">
                            C: @item.optionC
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="question1_@questionNumber" value="option4" required>
                        <label class="form-check-label" for="question@questionNumber">
                            D: @item.optionD
                        </label>
                    </div>
                </div>
                <hr>
                questionNumber++;
               
            }



            <hr>
            <div class="form-group">
                <input type="submit" name="name" value="Nộp Bài" class="btn btn-success" />
                <input type="submit" name="name" value="quay Lại" class="btn btn-default" />

            </div>
            <div class="form-group">
            </div>
        </form>
    </div>







</div>